
html,
body,
#app {
  margin: 0;
  padding: 0;
}

#nprogress {
  pointer-events: none;
}

::selection {
  background-color: var(--default-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #D0D0D0;
}

::-moz-scrollbar {
  width: 4px;
}

::-moz-scrollbar-thumb {
  background-color: #D0D0D0;
}